.hero {
  // display: flex;
  // align-items: center;
  text-align: center;
  font-size: 0.95rem;
  img {
    height: 18rem;
    width: auto;
    display: inline;
    vertical-align: middle;
    // float: left;
    margin-top: -1rem;
    // margin-right: 5px;
  }
  span {
    margin-top: -2rem;
  }
}
